.gallery .gallery-item {
    width: 23%;
    min-width: 220px;

    margin: 6px 6px 6px 0;
    border-radius: 5px;

    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    position: relative;

    transition: 0.3s;
}

.gallery .gallery-item img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.gallery .gallery-item .gallery-item-info {
    height: 60px;
    padding: 4px;
    display: block;
}

.gallery .gallery-item .gallery-item-info h1 {
    font-size: 16px;
    font-weight: bold;
    color: #2C2C2C;
    
    margin: 0 0 4px 0;
}

.gallery .gallery-item .gallery-item-info p {
    font-size: 14px;
    color: #2C2C2C;
    
    margin: 0 0 4px 0;
}

.category-home {
    background-color: #CC9373;
}

.category-math {
    background-color: #F57C51;
}

.category-physics {
    /* background-color: #FFB8BF; */
    background-color: #F8CB0A;
}

.category-design {
    background-color: #80D078;
}

.category-others {
    background-color: #6B9C92;
}