.navigation {
    position: fixed;
    margin: 0 20px 0 0;
    height: 100%;

    top: 50%;
    transform: translate(0, -50%);

}
.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 160px; /* a fixed width makes the click animation more stable (no bouncy elements) */

    margin: 0;
    padding: 12px;

    list-style-type: none;
    background: rgba(255,246,183,1);
    background: linear-gradient(0deg, rgba(246,65,108,1) 0%, rgba(255,246,183,1) 100%);
}

.navigation ul li {
    text-align: center;
}

.navigation ul li .selected {
    height: 125px;
    width: 138px;
}

.navigation ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 110px;

    border-radius: 6px;
    margin-bottom: 6px;

    background-color: #8C1BAB;
    text-decoration: none;
    color: rgba(255,246,183,1);
    font-size: 20px;
    font-weight: bold;

    transition: 0.3s;
}

.navigation ul li .category-home {
    background-color: #CC9373;
}

.navigation ul li .category-math {
    background-color: #F57C51;
}

.navigation ul li .category-physics {
    /* background-color: #FFB8BF; */
    background-color: #F8CB0A;
}

.navigation ul li .category-design {
    background-color: #80D078;
}

.navigation ul li .category-others {
    background-color: #6B9C92;
}

.navigation ul li a:hover {
    background-color: #2C2C2C;
    color: #EFEFEF;
}