.gallery-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: auto;

    max-width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 40px;

    width: 100%;
}

@media (max-width: 480px) {
    .gallery {
        margin-top: 10px;
    }
}